.hambur {
    order: -1;
}

.nav {
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 15.6rem;
    height: 100%;
    padding: 1.25rem 1.5rem;
    background-color: var(--color-white);
    z-index: 2;
}

.close {
    margin-bottom: 3.25rem;
    color: var(--color-grayish-blue);
}

.close svg {
    width: 1rem;
    height: 1rem;
}

@media (min-width: 64em) { /* 1024px */
    .hambur {
        display: none;
    }

    .nav {
        position: unset;
        flex: 2;
        padding: 1rem 2.5rem 0;
    }
    
    .close {
        display: none;
    }
}
