.link {
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-very-dark-blue);
}


@media (min-width: 64em) { /* 1024px */
    
    .link {
        font-weight: 400;
        font-size: 1rem;
        color: var(--color-dark-grayish-blue);
        padding-bottom: 2.85rem;
        display: block;
        border-bottom: 2px solid transparent;
        transition: all 1s ease;
    }

    .link:hover {
        border-bottom-color: var(--color-orange);
        color: var(--color-very-dark-blue);
    }
}