.button {
    font-family: var(--font);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 0.5rem;
    width: 100%;
}