
.number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    color: var(--color-very-dark-blue);
    background-color: var(--color-light-grayish-blue);
    font-family: var(--font);
    font-weight: 700;
    padding: 1rem 1.5rem;
}

.number button {
    color: var(--color-orange)
}

.number button:hover {
    color: var(--color-bg-hover);
}

.number input {
    background-color: var(--color-light-grayish-blue);
    text-align: center;
    outline: none;
    width: 4rem;
}

@media (min-width: 64em) { /* 1024px */
    .number {
        padding: 1rem 1.125rem;
    }
}